body {
color:#777;
font:12px Tahoma, Arial, sans-serif;
margin:0
}

a {
color:#778;
font-weight:700;
text-decoration:none;
}

a img {
border:0;
}

a:hover {
text-decoration:underline
}

h1 {
font-size:28px;
letter-spacing:-1px
}

h2 a,h2 a:hover {
color:#fff;
text-decoration:none
}

h2 {
background:url(images/button-bg.png) #8eadbe;
border:1px solid #fff;
color:#fff;
font-size:16px;
letter-spacing:2px;
margin:-1px 0 8px 0;
padding:0 2px 2px 5px
}

#header img {
margin: 0 5px 0 5px;
clear:none:
}

#headerleft {
float:left;
}

#headerright {
float:right;
padding-top:60px;
}

#sitename {
position:absolute;
top: 10px;
}

#sitename a {
font-size:28px;
color:#465C67;
}

#sitename a:hover {
color:#576d78;
text-decoration:none
}

#slogan {
position:absolute;
top: 40px;
}

#content h2.title{
background:url(images/button-bg.png) #8eadbe;
margin: -1px -11px -1px -11px;
padding:0 2px 2px 5px
}

#content .node h2 {
background:#dde4e4;
margin:-1px -11px -1px -11px;
padding:2px 2px 2px 11px;
border-bottom:none;
}

#content .node h2 a {
color:#778;
}

#content .node h2 a:hover {
border-bottom:1px dotted #999;
}

.block h2 {
font-size:14px;
margin-top:1px
}

.block {
margin-bottom:10px
}

h3 {
border-bottom:1px solid #dadada;
color:#4088b8;
font-size:1.2em;
font-weight:700;
margin:10px 0 8px 0;
padding:1px 2px 2px 3px
}

ul li,.item-list ul li {
list-style-image:url(images/li.png)
}

li.collapsed {
list-style-image:url(images/li-collapsed.png);
padding:0
}

li.expanded {
list-style-image:url(images/li-expanded.png);
padding:0
}

li.leaf {
list-style-image:url(images/li.png);
padding:0
}

#container {
background:url(images/bodybg.png) repeat-y #fff;
margin:0 auto;
width:890px
}

#headerwraper {
background:url(images/header.png) no-repeat #a4cbd0;
height:95px;
margin:0
}

#header {
margin:0 50px 0 50px;
}

#contentwraper {
background:url(images/shadow.png) no-repeat;
float:right;
padding-left:11px;
width:570px
}

#content {
border:1px #fff solid;
min-height:300px;
padding:0 10px 0 10px;
}

#content p {
margin:10px 5px 0 0;
}

#footerwraper {
background:url(images/footer.png) no-repeat #a4cbd0;
height:72px;
margin:0;
padding:0 50px 0 0;
}

#footer {
padding-top:10px;
text-align:right
}

#main {
margin:0 55px 0 55px;
}

#comment-links {
text-align:right
}

.comment-author {
font-size:0.8em;
text-align:right
}

.comment-content {
margin-left:20px
}

#primarylinks {

}

#primarylinks a {
color:#e6ecef;
margin:0;
padding:2px 10px 0 10px;
}

#primarylinks a:hover {
background:#7d9eac;
text-decoration:none
}

#sidebar {
float:left;
margin:0;
padding:0;
width:190px
}

#sidebar a {
padding:0;
}

#slogan {
color:#576d78
}

#attachments a {
padding-left:16px;
background:url(images/attachment.png) center left no-repeat;
}

.comment {
border:1px solid #ddd;
margin:5px;
padding:5px
}

.comment-new {
background:url(images/commentbg.png) repeat-x
}

.comment-title a {
background:url(images/comment.png) center left no-repeat;
font-size:1.2em;
padding:0 0 0 18px
}

.comment p {
margin:0;
padding:0 0 4px 0;
}


.new {
color:maroon;
float:right;
font-weight:700;
margin:0;
padding:1px
}

.form-item input {
color:#777;
font-size:10px;
margin:0 0 10px
}

.form-submit {
color:#000;
font-size:10px;
margin:10px 0 0 0;
}

.block-search h2 {
display:none
}

li a.active {
color:#465C67
}

.block #user-login-form ul {
font-size:9px;
margin:0;
padding:0
}

.block #user-login-form li {
list-style:none;
margin:0;
padding:0
}

.block #user-login-form input,.form-item {
margin:2px 0 0 0;
padding:0
}

.tabs ul.primary li.active a {
border-right:2px solid #369;
color:#fff
}

.tabs ul.primary li a:hover {
background:#fffaf0;
color:#ff4500
}

ul.primary li a {
background:#ddd;
border-color:#bbb;
border-style:solid solid none;
border-width:1px;
height:auto;
margin-right:0.5em;
padding:0 1em;
text-decoration:none
}

ul.primary li.active a {
background:#e8eaea;
border:1px solid #bbb;
border-bottom:#e8eaea 1px solid
}

ul.primary li a:hover {
background:#e8eaea;
border-color:#bbb #bbb #e8eaea
}

.clear {
clear:both;
display:block;
font-size:0;
height:1px;
line-height:0;
margin-bottom:-1px
}

.date {
background:url(images/date.png) no-repeat;
float:left;
height:30px;
margin:10px 10px 5px 0;
padding-top:9px;
width:36px;
text-transform:uppercase;
color:#333;
text-align:center
}

.date span.day {
display:block;
font-size:17px;
margin:-5px 0 0 0;
}

.date span.month {
display:block;
font-size:9px;
margin:0
}

span.submitted {
float:right;
}

.info {
margin: 10px;
text-align:center;
}

.info .links a {
border:1px #ddd solid;
padding:3px;
font-size:10px;
}

.info .links a:hover {
border:1px #ddd solid;
background-color:#eee;
text-decoration:none;
}

.messages {
color:#990000;
}

#designby {
font-size:10px;
}

#seclink {
margin-left:80px;
text-align:center;
}

div.breadcrumb {
font-size: 10px;
margin:0 0 0 -4px;
padding:0;
}
